In [2]:
import pandas as pd

In [3]:
#Import and read data
df = pd.read_csv('D:\Study-3rd(1st)\Thesis\Thesis\data\car_price_dataset (1).csv')

df.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867

In [4]:
#Drop and keep 2 Feature "Brand" and "Model"
df_brand_model = df.iloc[:, :2]

#Sort alphabetically by column "Brand"
df_sorted = df_brand_model.sort_values(by=df_brand_model.columns[0], ascending=True)

#Drop duplicate 
df_sorted_unique = df_sorted.drop_duplicates()
df_sorted_unique.to_csv('D:\Study-3rd(1st)\Thesis\Thesis\data\sorted.csv', index=False)

In [5]:
df_sorted_unique.head(100)

           Brand     Model
3104        Audi        Q5
7611        Audi        A3
5811        Audi        A4
7378         BMW  3 Series
1556         BMW  5 Series
4829         BMW        X5
8597   Chevrolet    Malibu
9943   Chevrolet   Equinox
2569   Chevrolet    Impala
3603        Ford  Explorer
3553        Ford     Focus
3722        Ford    Fiesta
651        Honda    Accord
7100       Honda      CR-V
1271       Honda     Civic
6440     Hyundai    Tucson
5486     Hyundai   Elantra
6421     Hyundai    Sonata
6443         Kia  Sportage
9932         Kia       Rio
7987         Kia    Optima
3356    Mercedes       GLA
8015    Mercedes   C-Class
4270    Mercedes   E-Class
5386      Toyota      RAV4
2292      Toyota   Corolla
2747      Toyota     Camry
1152  Volkswagen      Golf
557   Volkswagen    Passat
1185  Volkswagen    Tiguan

In [6]:
#Encode
# Audi:0 ; BMW:1 ; Chevrolet:2 ; Ford:3 ; Honda:4 ; Hyundai:5 ; Kia:6 : Mercedes:7 ; Toyota:8 ; Volkswagen:9 	
# Q5:0 ; A3:1 ; A4:2 ; 3 Series:0 ; 5 Series:1 ; X5:2 ; Malibu:0 ; Equinox:1 ; Impala:2 ; Explorer:0 ; Focus:1 ; Fiesta:2 ; Accord:0 ; CR-V:1 ; Civic:2 ; Tucson:0 ; Elantra:1 ; Sonata:2 ; Sportage:0 ; Rio:1 ; Optima:2 ; GLA:0 ; C-Class:1 ; E-Class:2 ; RAV4:0 ;  Corolla:1 ; Camry:2 ; Golf:0 ;  Passat:1 ; Tiguan:2

In [11]:
data = pd.read_csv("D:\Study-3rd(1st)\Thesis\Thesis\data\sorted.csv")

brand_mapping = {
    "Audi": 0, "BMW": 1, "Chevrolet": 2, "Ford": 3, "Honda": 4,
    "Hyundai": 5, "Kia": 6, "Mercedes": 7, "Toyota": 8, "Volkswagen": 9
}

model_mapping = {
    "Q5": 0, "A3": 1, "A4": 2, "3 Series": 0, "5 Series": 1, "X5": 2,
    "Malibu": 0, "Equinox": 1, "Impala": 2, "Explorer": 0, "Focus": 1, "Fiesta": 2,
    "Accord": 0, "CR-V": 1, "Civic": 2, "Tucson": 0, "Elantra": 1, "Sonata": 2,
    "Sportage": 0, "Rio": 1, "Optima": 2, "GLA": 0, "C-Class": 1, "E-Class": 2,
    "RAV4": 0, "Corolla": 1, "Camry": 2, "Golf": 0, "Passat": 1, "Tiguan": 2
}

data["Brand_Encoded"] = data["Brand"].map(brand_mapping)
data["Model_Encoded"] = data["Model"].map(model_mapping)

data.head(10)

       Brand     Model  Brand_Encoded  Model_Encoded
0       Audi        Q5              0              0
1       Audi        A3              0              1
2       Audi        A4              0              2
3        BMW  3 Series              1              0
4        BMW  5 Series              1              1
5        BMW        X5              1              2
6  Chevrolet    Malibu              2              0
7  Chevrolet   Equinox              2              1
8  Chevrolet    Impala              2              2
9       Ford  Explorer              3              0

In [ ]:
#Merge 2 new collumn to dataset
encoded_data = pd.read_csv("D:\Study-3rd(1st)\Thesis\Thesis\data\encoded_sorted.csv")

merged_data = pd.merge(df, encoded_data[["Brand", "Model", "Brand_Encoded", "Model_Encoded"]],
                       on=["Brand", "Model"], how="left")

merged_data.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price,Brand_Encoded,Model_Encoded
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501,6,1
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092,2,0
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171,7,0
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780,0,0
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867,9,0