In [7]:
import pandas as pd

In [ ]:
df = pd.read_csv('D:\Study-3rd(1st)\Thesis\Thesis\data\car_price_dataset (1).csv')


sorted_df = df.sort_values(by='Brand')

sorted_df.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
3104,Audi,Q5,2020,5.0,Diesel,Automatic,56508,3,3,15469
7611,Audi,A3,2016,3.5,Petrol,Semi-Automatic,31540,4,1,11769
2351,Audi,A3,2002,2.3,Petrol,Semi-Automatic,3918,3,2,6921
5811,Audi,A4,2009,1.3,Hybrid,Semi-Automatic,252079,3,3,4058
4446,Audi,Q5,2008,1.7,Petrol,Semi-Automatic,199728,2,1,4205

In [10]:

grouped_df = df.groupby('Brand')['Model'].apply(lambda x: ', '.join(sorted(x.unique()))).reset_index()

# Lọc hai cột "Brand" và "Model" (hãng xe và dòng xe)
selected_columns = df[['Brand', 'Model']]  # Điều chỉnh theo tên cột đúng trong file của anh

# Sắp xếp theo thứ tự alphabet theo cột 'hãng xe'
sorted_df = selected_columns.sort_values(by='Brand')

In [11]:
sorted_df.head()

     Brand Model
3104  Audi    Q5
7611  Audi    A3
2351  Audi    A3
5811  Audi    A4
4446  Audi    Q5